.chat {
    float: right;
    width: 450px;
}
.demo {
    width: 600px;
    margin: 20px auto;
    padding: 10px;
    color: #4F6B72;
    font-family: "PT Sans", Verdana, Arial, sans-serif;
    font-size: 13px;
}

.chat .messages{
    height: 300px;
    border: 1px solid #d4d4d4;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}

.chat .messages .user{
    color: #B22222;
}

.chat .message{
    width: 70%;
}

.chat{
    margin-top: 8px;
}
.panel{
    height: 45px;
    background: #cfcfcf;
    margin-top: 0;
    padding: 5px;
    display: flex;
}
#message_text{
    resize: none;
    font-size: 1.3em;
    margin-left: 8px;
}
#message_btn {
    margin-left: 15px;
}
.nick {

}
.msg {
    display: block;
    padding: 5px 10px;
    background: rgba(146, 209, 223, 0.32);
    width: 60%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.user {
    color: #67200c;
    margin-right: 10px;
}
.o_msg {
    background: rgba(210,210,210, .5);
    padding: 5px 10px;
    float: right;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    align-self: flex-end;
}
.o_msg .user {
    color: #1314ff !important;
    float: right;
    margin-left: 10px;
}
.ok {
    background: #00ff2b;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
}
.off {
    background: #ff001e;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
}
.cont {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}